/**
Colors
 */
$yellow: #f9d423;
$grey: #7f8c8d;
$red: #f85f40;
$green: #1abc9c;
$blue: #0faff1;
$orange: #f1540f;
$footer-bg-color: #2a2a2a;
$main-bg-color: #000;
$buy-border-color: #d9d9d9;
/**
Sizes
 */
$nav-height: 60px;
$view-port: 1200px;
$auth-height: 70px;