@import "partials/params";
@import "partials/mixins";

.about {
  background-color: #fff;
  padding: 40px;
  &__content {
    display: flex;
    padding-top: 20px;
  }
  &__text {
    width: 50%;
    opacity: .7;
    font-size: 14px;
    border-right: 3px dotted $buy-border-color;
    padding: 20px;
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__imgs {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  &__profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    & .profile__img {
      margin-bottom: 5px;
    }
    & .profile__name {
      font-weight: bold;
      margin-bottom: 5px;
    }
    & .profile__job {
      margin-bottom: 5px;
      opacity: .6;
    }
    & .profile__soc {

    }
    & .profile__icon {
      opacity: .6;
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
  }
}